 * {
  box-sizing: border-box;
}

.inner {
  padding: 20px;
}

.container {
  padding: 25px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: center;
}

.table th, .table td {
  border: 1px solid #000;
}

.values {
  text-align: center;
}

.header {
  background-color: bisque;
}


